* {
  text-align: center;
  background-color: gray;
}

.header {
  border: solid 2px lightgray;
  height: 180px;
  width: 55%;
  background-color: lightgray;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  align-items: center;
}

.welcomebox {
  width: 400px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: lightgray;
  }

.splash {
  background: transparent;
  display: flex;
  margin-top: 30px;
  margin-left: -100px;
  width: 350px;
  height: 350px;
}

.logo {
  background: transparent; 
}

a {
  background: transparent;
  color: teal;
  background: gray;
  text-decoration: none;
  color: black;
}

.nav {
  width: 400px;
  background: lightgray;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  background: gray;
  margin-top: 30px;
}

.welcomeButtons {
  display: flex;
  flex-direction: column;
  padding: 100px;
}

button {
  border: none;
  width: 300px;
  height: 100px;
  border-radius: 20px;
  background: #03989E;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 10px;
}

  button:hover {
    background: turquoise;
  }